
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">...blockphrase°°°</h1>
    <p class="splash-subhead">
      für IMMER in der Blockchain gespeichert - UNVERÄNDERBAR
    </p>
    <div>
      <form class="pure-form pure-g" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
        <div class="pure-u-1">
          <input type="text" class="pure-input-1" placeholder="Suche einen Hash im Ethereum Mainnet" formControlName="hash">
          <button type="submit" class="pure-button button-secondary pure-input-1">Suchen</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Eine Nachricht für die Ewigkeit</h2>
    
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        
        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Zur Hochzeit:
        </h3>
        <div [innerHTML]="renderExample(0)" class="content-html">
        
        </div>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Zum Jubiläum
        </h3>
        <div [innerHTML]="renderExample(1)" class="content-html">
  
        </div>
      </div>
    </div>
  </div>
  
  

</div>
