
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">...blockphrase°°°</h1>
    <p class="splash-subhead">
      für IMMER in der Blockchain gespeichert
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Eine Nachricht für die Ewigkeit</h2>
    
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        
        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Zur Hochzeit:
        </h3>
        <div [innerHTML]="renderExample(0)" class="content-html">
        
        </div>
        Beispiel auf <a href="https://goerli.etherscan.io/tx/0x3d40511ab41e3f91c1727a3f558d4ed2a4ceca0bc45f867a32edb7d516e6888a" target="_blank">Etherscan</a>.
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Zum Jubiläum
        </h3>
        <div [innerHTML]="renderExample(1)" class="content-html">
  
        </div>
      </div>
    </div>
  </div>
  
  

</div>
